.photoCard {
   padding-bottom: 10px;
    
}

.photo {
    height: 685px;
    width: 650px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
   
}
.photo-button-panel {
    height: 50px;
    width:650px;

}
.photo img {
    width: 650px;
    height: auto; 
    padding-bottom: 10px;
}

