.picture {
    height: 685px;
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.picture-button-panel {
    height: 50px;
    width:400px;

}
.picture img {
    height: auto;
    width: 400px;
    margin-bottom: 20px;

}
